.promo {
  padding-top: 160px;
  padding-right: calc((100% - 709.763px) / 2.427);
  padding-bottom: 30px;
  padding-left: calc((100% - 709.763px) / 2.427);
  border-radius: 10px;
  margin: 20px 40px 0;
  background: #f5f5f5;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;  
  color: black;
  margin: 0 0 151px;
}

@media screen and (max-width: 768px) {
  .promo {
    padding-top: 350px;
    padding-right: calc((100% - 425px) / 14.929);
    padding-left: calc((100% - 425px) / 14.929);
    margin: 20px 20px 0;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 314px;
  }
}

@media screen and (max-width: 426px) {
  .promo {
    padding: 220px 0 17px;
    margin: 14px 14px 0;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    margin-bottom: 212px;
  }
}
