.more {
  display: flex;
  justify-content: center;
  padding: 50px 0 80px;
}

.saved-movies__more {
  height: 140px;
}

.more__button {
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000;
  background-color: #f9f9f9;
  padding: 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity .25s ease;
}

.more__button:hover {
  opacity: .8;
}

@media screen and (max-width: 426px) {
  .more__button {
    width: 240px;
  }
  
}
