.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding-right: calc((100% - 384px) / 12.8);
  padding-left: calc((100% - 384px) / 12.8);
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: calc((100% - 124.875px) / 21.438);
    padding-left: calc((100% - 124.875px) / 21.438);
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding-right: 14px;
    padding-left: 14px;
  }
}
