.footer {
  padding-top: 79px;
  padding-right: calc((100% - 384px) / 12.8);
  padding-bottom: 20px;
  padding-left: calc((100% - 384px) / 12.8);
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  padding: 0 0 20px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.footer__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 20px;
}

.footer__item:last-of-type {
  margin-right: 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  transition: opacity .25s ease;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: calc((100% - 253.5px) / 17.15);
    padding-left: calc((100% - 253.5px) / 17.15);
  }
}

@media screen and (max-width: 426px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 14.5px;
    padding-bottom: 21px;
    margin-bottom: 30px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 14.5px;
    color: #a0a0a0;
    margin-top: 30px;
    order: 1;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__item {
    margin: 0 0 12px;
    text-align: center;
  }
  
  .footer__item:last-of-type {
    margin: 0;
  }
  
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
