@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

#root {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;

  box-sizing: content-box;
  border: 1px solid red;
}
